@media (min-width: 768px) and (max-width: 1023px){
    .home{
        display: flex;
        width: 100%;
        justify-content: center;
        height: 85%;
        align-items: center;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
    }

    .content img{
        height: 150px;
        width: 100px;
    }
    
    .content p{
        font-size: medium;
        text-align: center;
    }
    
    .buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        width: 90%;
    }
    
    .aboutMe{
        /* border: 1px solid white; */
        border-radius: 25px;
        padding: 6px 45px 6px 45px;
        background-color: #85309E;
    }
    .hitMe{
        border: 1px solid white;
        border-radius: 25px;
        padding: 6px 45px 6px 45px;
    
    }
    
    .aboutMe a{
        text-decoration: none;
        color: white;
        font-size: medium;
    }
    
    .hitMe a{
        text-decoration: none;
        font-size: medium;
    }    
}

@media (min-width: 1024px){
    .home{
        display: flex;
        width: 100%;
        justify-content: center;
        height: 85%;
        align-items: center;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }
    
    .content p{
        font-size: 21px;
        text-align: center;
        font-family: Consolas, "Courier New", monospace;

    }

    .content img{
        height: 230px;
        width: 160px;
    }
    
    .buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        width: 60%;
        max-width: 400px;
    }
    
    .aboutMe{
        /* border: 1px solid white; */
        border-radius: 25px;
        padding: 6px 45px 6px 45px;
        background-color: #85309E;
    
    }
    .hitMe{
        border: 1px solid white;
        border-radius: 25px;
        padding: 6px 45px 6px 45px;
    
    }
    
    .aboutMe a{
        text-decoration: none;
        color: white;
        font-size: large;
    }
    
    .hitMe a{
        text-decoration: none;
        font-size: large;
    }
}